/*css for the heading part*/
.headerdiv{
    background: url(a.jpg);
    background-size: 100%;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
}

.headerdiv {
    position:relative;
  }
  
 
  .headerdiv::after {
    content: ' ';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
  }

  .heading {
    position: relative;
    z-index: 1;
    top: 12%;
    left: 6%;
    transform: translateY(-50%);
  }

  .fas{
    padding: 0px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  
  
  .heading h1{
    color: 0;
    text-align: left;
  }

  .btn{
    position: relative;
    top: -4%;
    right: 4%;
    z-index: 1;
    
  }
  .hText{
    position: relative;
    text-align: center;
    top: 25%;
    left: 4%;
    z-index: 1;
  }

  .hText p{
    font-size: 30px;
    font-weight: bold;
    color: white;
    z-index: 1;
    line-height: 30px;
  }

  .hText span {
    display: block;
    font-size: 16px;
    color: #9b9797;
    margin-top: 30px;
    margin-right: 65px;

    text-align: center; /* or left or right */
  }

.hText button{
    right: 10%;
    margin-top: 40px;
} 

/*css for the 2nd part i.e contentt*/

.content{
    width: 100%;
    height: 500px;
    background-color: rgba(246, 246, 246, 0.974);
}
.content1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 15%;
    top: 30%;
  }
  .cP{
    margin-top: 7%;
    font-size: x-small;
    font-weight: 400;
  }
  .content1 h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: initial;
    font-size: 280%;
  }

  .align-right {
    text-align: right;
    margin-top: -9%;
    margin-right: 20%;
    
  }

 
  
  .Over1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-210%, 165%);
    width: 250px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding: 20px;
   
  }
  .Over1 h5{
    margin-top: 12px;
  }
  
  .Over2 h6{
    margin-top: 12px;
  }

  .Over3 h5{
    margin-top: 10px;
  }
  .Over1 p{
    font-size: 12px;
  }
  .Over2 p{
    font-size: 12px;
  }
  .Over3 p{
    font-size: 12px;
  }
  .Over2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 165%);
    width: 250px;
    height: 250px;
    background-color: white;
    text-align:inherit;
    padding: 20px;
  }
  .Over3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(110%, 165%);
    width: 250px;
    height: 250px;
    background-color: white;
    text-align: left;
    padding: 20px;
  }
  /*css for the middle most section */
  .middle{
    background: url(a.jpg);
    background-size: 100%;
    width: 100%;
    height: 400px;
    margin-top: 200px;
    background-repeat: no-repeat;
}
.middle {
    position:relative;
  }
  
  .middle::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
  }
.middle-1{
    position: relative;
    text-align: left;
    top: 40%;
    left: 20%;
    z-index: 1;
}
.middle-1 h6,h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    z-index: 1;
    
}
.middle-1 h1{
    font-weight: 200;
}
.middle-1 h6{
    font-size: 10px;
}
  
  .middle-2{
    position: relative;
    top: 22%;
    right: 10%;
    z-index: 1;
  }

  .middle-2 p{
    
    font-size: 10px;
    color: white;
    z-index: 1;
    text-align: left;
    margin-right: 20%;
    margin-left: 60%;
    
  }

.a1{
    position: absolute;
    top: 170%;
    left: 60%;
    transform: translate(-210%, 165%);
    width: 350px;
    height: 200px;
    background-color: rgb(235, 235, 235);
    text-align: left;
    padding: 20px;
}
.a1 img{
     
    width: 200px; 
    height: 200px;
    float: right;
    margin-top: -155px;
    margin-right: -20px;
}
.a1 p{
    font-size: 10px;
}



.a2{
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, 165%);
    width: 350px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding: 20px;
}
.a2 img{
     
    width: 200px; 
    height: 200px;
    float: right;
    margin-top: -117.5px;
    margin-right: -20px;
}
.a2 p{
    font-size: 10px;
}

.a3{
    display: block;
    position: absolute;
    top: 170%;
    left: 40%;
    transform: translate(110%, 165%);
    width: 350px;
    height: 200px;
    background-color: rgb(254, 254, 254);
    text-align: left;
    padding: 20px;
}
.a3 img{
     
    width: 200px; 
    height: 200px;
    float: right;
    margin-top: -147px;
    margin-right: -20px;
}
.a3 p{
    font-size: 10px;
}

/*css for the bottom most part*/
.Amiddle{
    width: 100%;
    height:350px ;
    background-color:rgba(246, 246, 246, 0.974);
}

.btm1 {
    width: fit-content;
  height: fit-content;
  
  margin-left: 33%;
  margin-top: -14%;
  background-color: rgb(255, 255, 255);
  line-height: 2.0;
  }
  .btm2{
    width: fit-content;
  height: fit-content;
  margin-left: 60%;
  margin-top: -15%;
  background-color: rgb(255, 255, 255);
   line-height: 2.0;
  }

  a {
    text-decoration: none;
    font-weight: 500;
  }
  
  .Icons{
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    margin-top: -12.7%;
    margin-left: 80%;
  }

  .fa{
    padding: 15px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top:-15%;
    margin-left: 0%;
  }
  .btm{
    width: 300px;
    height: 200px;
    margin-top: 10%;
    margin-left: 4%;
    background-color: rgb(255, 255, 255);
  }

  .btm h2{
    margin-top: -18%;
    margin-left: 15%;
  }
 
  .fd{
    font-size: 10px;
    text-align: left;
    line-height: 2.0;
  }
  /*css for the bottom i.e last section of the page*/

  .bottom{
    margin-top:16%;
    width: 100%;
    height: 150px;
    background-color:rgba(246, 246, 246, 0.974);
  }
  .bottom a {
    font-size: 10px;
    
    color: black;
    margin-top: 4%;
    margin-left: 5%;
    display: inline-block;
    margin-right: 20px; /* add some space between the links */
  }
.bottomP{
  font-size: 10px;
  margin-left: 5%;
}

.bottomP1{
  text-align: right;
  font-size: 10px;
  margin-right: 5%;
  margin-top: -2.8%;
}

